body {
	font: 16px Times New Roman, Serif;	
}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.5;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#pic {
	max-height: 20%;
	max-width: 20%;
	float: right;
	position: static;
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
	-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
	box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}

#content-info {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}

#container {
	width: 800px;
	margin: 10px auto 30px;
}

#content-contact {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#content-summarycontent {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

#content-professionalheader {
	font-size: 28px;
	text-decoration: underline;
}

.date {
	float: right;
	font-weight: bold;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
